@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a mi CRUD con ASP.NET Core, MVC and EntityFramework</h1>
    <p>Angel Larios Valerio</p>
</div>
